/************************************************
Stylesheet: GLOBAL COLOUR PALLETTE 
DEFINE PRIMARY AND SECONDARY COLOURS
*************************************************/

$color1: #2C2F7E;
$color2: #E5EB4B;
$color3: #52EDBD;
$color4: #3CE1FF;
$color5: #DF55E3;
$white: #FFFFFF;