/************************************************
COLOURS
*************************************************/

$darkblue: #15223B;
$green: #6D8E77;
$lightgreen: #E9F4EF;
$orange: #D64F23;
$white: #FFFFFF;
$grey: #7B778D;
$lightgrey: #E9E9EF;

.og {
    background: rgb(239,138,4);
    background: linear-gradient(0deg, rgba(239,138,4,1) 0%, rgba(211,76,39,1) 100%);
}