/************************************************
Stylesheet: Footer
Footer styles
*************************************************/

.footer {
    clear: both;
    margin-top: 0em;
}

.footer-top {
    padding: 50px 0;
}

.footer-middle {
    padding: 30px 0;
    color: $color1;
    background-color: $color2;
    a {
        color: $green;
        font-size: 25px;
        border-right: solid 3px $color1;
        padding: 0px 30px;
    }
    ul li:last-child a {
        border: none;
    }
}


.footer-bottom {
    background-color: $color1;
    color: $white;
}

.fb-top {
    padding: 70px 0 50px;
    text-align: center;
    img {
        margin-bottom: 50px;
    }
}

.fb-bottom {
    padding-bottom: 20px;
    a {
        color: $white;
        font-size: 12px;
        font-weight: 400;
    }
}

#footer-links {
    font-size: 14px;
    margin-top: 50px;

    li a {
        border-right: solid 1px $color2;
        padding: 0 15px;
        box-shadow: none;
    }

    li a:hover {
        color: $color2;
    }
}

