/************************************************

Stylesheet: Hero Slider
Styles for a slider if used

*************************************************/

.hero-slider {
    height: calc(100vh - 0px);
    .slick-next {
        right: 60px;
        z-index: 10;
        height: 100px;
        width: 50px;
        background-image: url(../images/slider-arrow-right.png) !important;
        background-repeat: no-repeat;
        text-indent: -9999px;
    }
    
    .slick-prev {
        left: 60px;
        z-index: 10;
        height: 100px;
        width: 50px;
        background-image: url(../images/slider-arrow-left.png) !important;
        background-repeat: no-repeat;
        text-indent: -9999px;
    }
    .slick-next, .slick-prev {
        display: none !important;
    }
}

.hs-slide {
    height: calc(100vh - 0px);
    background-position: center;
    background-size: cover;
    color: $white;
}

.slide-content {
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: 50px;
    position: relative;
    top: 25vh;
    h1 {
        font-size: 50px;
    }
}