/************************************************
NAV
*************************************************/

.site-header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.header-top {
    position: relative;
    background-color: rgba($color: $lightgreen, $alpha: 1);
    height: 60px;

    .logo {
        a {
            display: inline-block;
            padding: 30px;
            background-color: $white;
            height: 150px;
        }
        img {
            width: 150px;
        }
    }

    a {
        color: $green;
    }
    a.header-email {
        background-image: url(../images/icon-email.png);
        background-repeat: no-repeat;
        background-size: 19px;
        padding-left: 30px;
        background-position-y: 5px;
        margin-top: 17px;
        display: inline-block;
    }
    a.header-tel {
        font-size: 24px;
        background-image: url(../images/icon-phone.png);
        background-repeat: no-repeat;
        background-size: 19px;
        padding-left: 25px;
        background-position-y: 6px;
        display: inline-block;
        margin-top: 12px;
    }
}


.menu .active>a,
.menu .is-active>a {
    background-color: $white;
    color: $darkblue;
}

.header-bottom {
    background-color: rgba($color: $darkblue, $alpha: 0.8);
    height: 90px;
    a {
        height: 90px;
        padding: 35px 1rem;
        color: $white;
    }
    a:hover {
        background-color: $white;
        color: $darkblue;
    }
    .dropdown.menu>li>a{
        height: 90px;
        padding: 35px 1rem;
    }
    .dropdown.menu>li>a:hover {
        background-color: $white;
    }
    .dropdown.menu>li.is-active>a{
        background-color: $white;
    }
    a.contact-btn{
        border: solid 1px $green;
        border-radius: 30px;
        padding: 15px 25px;
        height: 50px;
        margin-top: 20px;
    }
    a.contact-btn.og{
        border: none;
        margin-left: 15px;
    }
}

.is-dropdown-submenu-parent a:after {
    display: none !important;
}

.dropdown .is-dropdown-submenu {
    min-width: 400px;
    background-color: rgba($color: #FFF, $alpha: 0.8);

    a {
        font-size: 14px;
        color: $darkblue;
        padding: 40px 20px;
        border-bottom: solid 1px $green;
    }
}

.menu {
.menu-disease a {
    background-image: url(../images/icon-disease.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 50px;
}

.menu-legislation a {
    background-image: url(../images/icon-legislation.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 50px;
}

.menu-uses a {
    background-image: url(../images/icon-uses.png);
    background-repeat: no-repeat;
    background-position: right 25px center;
    background-size: 40px;
}

.menu-hunt a {
    background-image: url(../images/icon-hunt.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 60px;
}

.menu-identifying a {
    background-image: url(../images/icon-identifying.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 55px;
}

.menu-surveys a {
    background-image: url(../images/icon-surveys.png);
    background-repeat: no-repeat;
    background-position: right 25px center;
    background-size: 40px;
}

.menu-removal a {
    background-image: url(../images/icon-removal.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 60px;
}

.menu-disposal a {
    background-image: url(../images/icon-disposal.png);
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-size: 80px;
}
}