/************************************************
Stylesheet: NAV
Naviagtion and header styles
*************************************************/

.site-header {
    position: fixed;
    top: 0;
    z-index: 12;
    width: 100%;
    font-family: roboto-condensed, sans-serif;
    text-transform: uppercase;
}

.nav-spacer {
    height: 175px;
}

.header-top {
    position: relative;
    background-color: rgba($color: $color1, $alpha: 1);
    a {
        font-size: 20px;
        color: $white;
        font-weight: 400;
    }
    .seller-nav {
        background-color: $color4;
        width: 270px;
        clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
        a {
            color: $color1;
            font-style: italic;
            font-weight: 700;
        }
    }
    .top-nav {
        a {
            padding: 0 10px;
            margin-top: 10px;
            border-left: solid 1px $color2;
        }
        li:first-child a {
            border: none;
        }
    }
}


.menu .active>a,
.menu .is-active>a {
    background-color: $white;
    color: $color1;
}

.header-bottom {
    background-color: $white;
    .logo {
        padding: 15px 0;
    }
    li a {
        padding: 54px 1rem !important;
        font-size: 24px;
    }
    li#menu-item-40 {
        padding-top: 45px;
    }
    a:hover {
        color: $color1;
    }
    img {
        width: 200px;
    }
}