/************************************************

Stylesheet: Reviews Carousel
Styles for review carouel part

*************************************************/

.review {
    padding: 0 15px;
    .inner {
        background-color: $white;
        padding: 60px 30px;
        min-height: 650px;
        border-radius: 5px;
    }
    .author {
        color: $white;
    }
}